.home-form{
  width: 30vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.home-form-title{
  text-align: center;
}

#home-form-errors{
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.5);
}

.home-form-double-input{
  box-sizing: border-box;
  width: 12vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.home-form-single-input{
  box-sizing: border-box;
  width: 27vw;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  margin-bottom: 3vh;
}

#home-form-submit{
  width: 10vw;
  margin-left: 10vw;
  margin-bottom: 3vh;
}